body {
    background-image: linear-gradient(-90deg,#141e30 , #243b55,#141e30);
}


html {
    height: 100%;
}


/* CARD */
.card-login {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: 500px;
    
}

/*  orentacion */
.login input {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 40px;
}

/* Boton e inputs   */

.login input {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 50px;
    color: #ffffff;
    font-size: 16px;
}

.login input:focus {
    border: none;
    border-bottom: 1px solid #fff;
    background: white;
    outline: none;
    height: 40px;
    color: #000000;
    font-size: 16px;
}

.login input::placeholder {
    color: #fff;
}


/* Boton Ingresar */

.login .boton-iniciar {
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    background: #1c2028;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.login .boton-iniciar:hover {
    background: #8ec1e7;
    color: #000;
    transform: scale(1.1);
}

/* Texto iniciar  sesion */
.iniciar {
    color: white;
    font-size: 25px;
}

/* registro */
.registrate {
    color: #a2e0f6;
}

.registrate:hover {
    color: #9ede9d;
    font-size: 18px;
}

/* derechos de autor */
.pie-pagina .derechos {
    padding: 15px 10pc;
    text-align: center;
    color: white;
    margin-top: 190px;
}


/* IMAGES/BOTONES */
.h1C {
    color: white;
    font-weight: bold;
    font-size: 40px;
    margin-top: 70px;
    text-align: center;
}

.bi-arrow-left-circle-fill {
    font-size: 70px;
    color: white;
    position: absolute;
    bottom: 800px;
    left: 40px;
    top: 35px;

}

.bi-arrow-left-circle-fill:hover {
    /* font-size: 76px; */
    color: #8b99d6;
}

@media screen and (max-width: 800px) {
    .bi-arrow-left-circle-fill {
        font-size: 50px;
        color: rgb(255, 255, 255);
        position: absolute;
        bottom: 800px;
        left: 40px;
        top: 40px;

    }


}

.agrega {
    font-size: 70px;
    color: white;
    position: absolute;
    bottom: 800px;
    right: 500px;
    top: 35px;
}

.agrega:hover {

    color: rgb(52, 52, 59);


}

.fav {
    font-size: 70px;
    color: white;
    position: absolute;
    bottom: 800px;
    right: 400px;
    top: 35px;
}

.fav:hover {

    color: rgb(255, 0, 0);

}

.profile {
    font-size: 70px;
    color: white;
    position: absolute;
    bottom: 800px;
    right: 300px;
    top: 35px;
}

.profile:hover {
    color: rgb(92, 230, 245);

}

.todo {
    font-size: 70px;
    color: white;
    position: absolute;
    bottom: 800px;
    right: 200px;
    top: 35px;
}

.todo:hover {

    color: rgb(242, 136, 79);

}

@media screen and (max-width: 1400px) {
    .containerTodo {
        padding-top: 70px;
    }

}

@media screen and (max-width: 1400px) {
    .agrega {
        font-size: 50px;
        color: white;
        position: absolute;
        bottom: 800px;
        right: 50px;
        top: 150px;
    }

}

@media screen and (max-width: 1400px) {
    .fav {
        font-size: 50px;
        color: white;
        position: absolute;
        bottom: 800px;
        right: 350px;
        top: 150px;
    }

}

@media screen and (max-width: 1400px) {
    .profile {
        font-size: 50px;
        color: white;
        position: absolute;
        bottom: 800px;
        right: 250px;
        top: 150px;
    }

}

@media screen and (max-width: 1400px) {
    .todo {
        font-size: 50px;
        color: white;
        position: absolute;
        bottom: 800px;
        right: 150px;
        top: 150px;
    }

}